.homepage{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:rgba(0, 0, 0, 0.05);
}

.logo {
    /* logo size */
    height: 3rem;
  }

.icon{
    color: #F26671;
}

.header{
    border-bottom: 1px solid #ccc;
    padding: 8px 20px;
    background:white;
}

.layout{
    display: flex;
    justify-content: space-between;
}

.center{
    display: flex;
    align-items: center;
}

.posts{
    height: 90vh;
    overflow: auto;
}

.name-picker {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: #F26671;
}

.name-picker svg {
    stroke: #F26671;
    cursor: pointer;
}

.name-picker-name {
    color: #F26671;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-right: 0.5rem;
    font-size: 0.8rem;
}
.posts {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
    padding-top: 1rem;
  }

  .message-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .message {
    color: black;
    background: white;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2), 0 0.15rem 0.5rem 0 rgba(0, 0, 0, 0.19);
    padding: 2rem 1rem;
    margin: 0.7rem;
    border-radius: 0.75rem;
    max-width: 32rem;
    min-width: 32rem;
    min-height: 4rem;
    overflow-wrap: break-word;
    position: relative;
    transition: transform 0.3s;
  }

  .message-user {
    position: absolute;
    color: #F26671;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    left: 1;
    top: 0.5rem;
    /* font-size: 2rem; */
  }