.footer {
    height: 4rem;
    width: 100%;
    border-top: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
  }

  .post{
      width: 95%;
      display: flex;
      justify-content: flex-end;
  }

  .text-input {
    width: 100%;
    border: 1px solid white;
    height: 3rem;
    border-radius: 1rem;
    padding-bottom: 1rem;
    background: white;
    color: black;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2), 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.19);
  }
  .send {
    background: white;
    border-radius: 50%;
    border: none;
    height: 1.7rem;
    width: 1.7rem;
    position: absolute;
    right: 1.15rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .send svg{
    color: #F26671;
  }
  
  .send:hover svg {
    color: #FB6E6E80;
  }