.top {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: none;
    padding-top:1rem;
    position: relative;
  }

  .post{
      width: 95%;
      display: flex;
      justify-content: flex-end;
  }

  .text-input {
    width: 100%;
    border: 1px solid white;
    height: 3rem;
    border-radius: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background: white;
    color: black;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2), 0 0.15rem 0.5rem 0 rgba(0, 0, 0, 0.19);
  }
  .send {
    background: none;
    padding-top: 1rem;
    padding-right:0.1rem;
    border-radius: 50%;
    border: none;
    height: 1.7rem;
    width: 1.7rem;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .send svg{
    color: #F26671;
  }
  
  .send:hover svg {
    color: #FB6E6E80;
  }

  .img-upload {
    padding-top:none;
    padding-left:1.5rem;
    cursor: pointer;
  }

  .post{
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .extras{
    width: 100%;
    display:flex;
    justify-content:space-between;
  }

  .post-type{
    cursor: pointer;
  }