.background{
    background-color:#ebf3f4;
}

.item {
    background-color:#fdb7b7;
    height: 100vh;
    margin: 0 1rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.sidebar {
    height: 100vh;
}

.photo {
    height: 2rem;
    width: 2rem; 
}